# where some .so files are kept
mybindir        ~esheldon/shell_scripts/sdss/

# where the lensing outputs are
lensout_dir     ~esheldon/lensout/
lensinput_dir	~esheldon/lensinputs/

# the web directory on cheops
www_dir		/net/cheops1/home/www/html/

############################################################################
# MaxBCG
############################################################################

# location of inputs to Ben's code.  the stripe*cluster are from ryan
# and the actual inputs are maxbcg_input_stripe*
maxbcg_input_dir /net/cheops2/data1/corrected.local/combined/maxbcg_input/

# location of Ben's catalog, random's in sub-dir
maxbcg_dir	~esheldon/lensinputs/maxbcg/catalog

# number of random point files to create
maxbcg_numrand         20
# number of randoms per file
maxbcg_nrand_per_file  500000



# jackknife file to use
jackknife_file /net/cheops1/data0/corrected/masks/pixel_mask_jackknife_samples/jackknife_samples_dr4_res256_nstripe1.st
princeton_jackknife_file /net/cheops1/data0/corrected/masks/pixel_mask_jackknife_samples/jackknife_samples_princeton_res256_nstripe1.st

# can call Hirata's code
compea4_sofile  ~esheldon/ccode/CompEA4/call_CompEA4.so
compea4_entry   call_CompEA4

# jackknife .so file
jack_sofile     ~esheldon/ccode/jackknife/call_jackknife.so
jack_entry      call_jackknife
