# where the lensing outputs are
lensout_dir     ~esheldon/lensout/
lensinput_dir	~esheldon/lensinputs/
plot_dir	~esheldon/plots

# the web directory on cheops
www_dir		NONE

############################################################################
# MaxBCG
############################################################################

# location of Ben's catalog, random's in sub-dir
maxbcg_dir	~esheldon/lensinputs/maxbcg/catalog
correlate_dir   ~esheldon/correlate

# jackknife file to use
jackknife_file /global/early2/esheldon/masks/pixel_mask_jackknife_samples/jackknife_samples_dr4_res256_nstripe1.st
princeton_jackknife_file /global/early2/esheldon/masks/pixel_mask_jackknife_samples/jackknife_samples_princeton_res256_nstripe1.st


# jackknife .so file
jack_sofile     NONE
jack_entry      call_jackknife

# des sensitivity dir
des_sensitivity_dir /global/early2/esheldon/des_sensitivity/goods
